.page-header
  %h3 Documents Ocr Status

%ul
  %li
    = link_to 'Documents', documents_path
  %li
    = link_to 'Litigation Documents OCR status', lit_documents_documents_ocr_statuses_path
  %li
    = link_to 'PTAB Documents OCR status', ptab_documents_documents_ocr_statuses_path
  %li
    = link_to 'AppData Documents OCR status', app_data_documents_documents_ocr_statuses_path
