%h5
  = link_to 'Upload New Documents', upload_documents_documents_path, class: 'pull-right'
%h3 Documents
%hr

%table.table.table-striped.table-bordered#documents{data: {source: "#{documents_url}"}}
  %thead
    %tr
      %th ID
      %th Document Name
      %th View OCR Text
      %th View Patents
      %th Status
  %tbody
