.sign-in-well {
  .add-margin {
    margin-bottom: 10px;
  }
}

.divider-appname {
  display: inline-block;
  margin: 10px 0;
}
.logo-divider {
  font-size: 35px;
}

.logo-appname {
  font-size: 22px;
}

.queue-litigation-documents {
  .queue-litigation-row {
    padding: 10px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
  }
  .select2-selection {
    max-height: 90px;
    overflow: scroll;
  }

  .queue-litigation-row-controls {
    padding-top: 10px;
  }

  .lit-documents-ocr-indicator:before {
    content: "*";
    color: red;
  }
}
