.sign-in-well {
  .add-margin {
    margin-bottom: 10px;
  }
}

.divider-appname {
  display: inline-block;
  margin: 10px 0;
}
.logo-divider {
  font-size: 35px;
}

.logo-appname {
  font-size: 22px;
}
