.sign-in-well {
  .add-margin {
    margin-bottom: 10px;
  }
}

.divider-appname {
  display: inline-block;
  margin: 10px 0;
}
.logo-divider {
  font-size: 35px;
}

.logo-appname {
  font-size: 22px;
}

.queue-litigation-documents {
  .queue-litigation-row {
    padding: 10px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
  }
  .select2-selection {
    max-height: 90px;
    overflow: scroll;
  }

  .queue-litigation-row-controls {
    padding-top: 10px;
  }

  .lit-documents-ocr-indicator:before {
    content: "*";
    color: red;
  }
}

.upload-files {
  background-color: #eee;
  padding: 15px 0;
  border: 1px solid lightgray;
}

.upload-divider {
  text-align: center;
}

#dropzone {
  background: lightgray;
  height: 100px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
}

#dropzone.in {
  height: 200px;
  line-height: 150px;
  font-size: larger;
}

#dropzone:hover {
  background: darkgray;
  cursor: copy;
}

#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

.uploaded-files {
  margin-top: 15px;
}